{% extends "layout.html" %}

{% block title %}
    about
{% endblock %}

{% block main %}



    <p>This is my final project for CS50 - it is a playable tic-tac-toe board built with JavaScript.</p>

    <p>Select squares with the mouse. Player one will play as orange circle and player two will play as blue Xs.  Once a player has won or the board is full the game will prompt for another game. Click to reset the window and play again! </p>

    <p>Citations for resources used:

    <ul>
        <li><a>https://www.w3schools.com/graphics/canvas_intro.asp</a></li>
        <li><a>https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Hit_regions_and_accessibility</a></li>
        <li><a>https://stackoverflow.com/questions/9880279/how-do-i-add-a-simple-onclick-event-handler-to-a-canvas-element</a></li>
        <li> <a>https://www.w3schools.com/jsref/event_onclick.asp</a></li>
        <li><a>https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onclick</a></li>
        <li> <a>https://www.w3schools.com/jsref/met_loc_reload.asp</a></li>
        <li><a>http://getbootstrap.com/</a></li>
        <li><a>https://www.bootstrapcdn.com/bootswatch/</a></li>
        <li><a>https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta</a></li
        ><li><a>https://courses.edx.org/courses/course-v1:HarvardX+CS50+X/course/</a></li>
    </ul>




{% endblock %}
